html,
body {
  margin-left: 0;
  margin-right: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-image: url('assets/images/bg.PNG');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root,
.App {
  height: 100%;
}

.content {
  padding-top: 10px;
  margin-top: 60px;
  padding-bottom: 20px;
  height: calc(100% - 115px);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.shadow-bottom {
  box-shadow: 0px 5px 10px #666;
}

.shadow-top {
  box-shadow: 0px -5px 10px #666;
}

.remove-button {
  width: 30px;
  position: absolute;
  top: 0.5rem;
  right: 10px;
  font-size: 0.75rem !important;
  padding: 0.25rem !important;
}

.font-title {
  font-size: 1rem !important;
}

.badge-time {
  position: absolute;
  bottom: 2px;
  right: 10px;
}

.backdrop {
  background-color:rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}